<html>
<head>
  <meta charset='utf-8' />
</head>
<body>
  <style>
  table { 
    width: 100%; /* Ширина таблицы */
    /*        border: 1px solid black;*/ /* Рамка вокруг таблицы */
    border-collapse: collapse; /* Отображать только одинарные линии */
    margin-top: 16px;
    border-bottom: 1px solid #fff;
  }
  th { 
    text-align: left; /* Выравнивание по левому краю */
    background: #ccc; /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
    text-align: center;
  }
  td { 
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
  }
  td.noBorder{
    border: initial;
  }
  td.text_center{
    text-align: center;
  }
  td.text_right{
    text-align: right;
  }
  thead { display: table-header-group }
  tfoot { display: table-row-group }
  tr { page-break-inside: avoid }
</style>
<% magazine = @model.magazine %>
<div class="well">
  <div>
    <b>ФИО:</b>
    <span><%= @model.contact.first_name %></span>
  </div>
  <div>
    <b>Адрес доставки:</b>
    <span><%= @model.address %></span>
  </div>
  <div>
    <b>Телефон:</b>
    <span><%= @model.contact.phone %></span>
  </div>
  <div>
    <b>Способ оплаты:</b>
    <span><%= @model.type_payment == "cash" ? "Наличными при получении" : "Картой при получении" %></span>
  </div>
  <% if @model.comment.present? %>
    <div>
      <b>Комментарий:</b>
      <span><%= @model.comment %></span>
    </div>
  <% end %>

  <div style="text-align: center; margin-top: 24px;">
    <% date_sale = @model.created_at %>
    <b>Товарный чек № <%= @model.id %> от <%= date_sale.strftime("%d.%m.%Y") %></b>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>№</th>
        <th>Товар</th>
        <th>Ед.</th>
        <th>Кол-во</th>
        <th>Цена</th>
        <th>Сумма</th>
      </tr>
    </thead>
    <tbody>
      <% num = 0 %>
      <% n_sum = 0 %>
      <% @model.items.each do |id, hash| %>
        <% item = ProductItem.find(id) %>
        <% params_item = @model.item(id) %>
        <% price_id = params_item[:price_id].present? ?  params_item[:price_id] : item.price(@model.magazine.api_key).id %>
        <% price =  ProductPrice.find(price_id).price %>
        <% curr_sum = params_item[:count] * price %>
        <% n_sum += curr_sum %>
        <tr>
          <td><%= num += 1 %></td>
          <td><%= item.product_title %> - <%= item.title %></td>
          <td class="text_center">шт</td>
          <td class="text_right"><%= params_item[:count] %></td>
          <td class="text_right"><%= price %></td>
          <td class="text_right"><%= curr_sum.round(1) %></td>
        </tr>
      <% end %>
      <% current_price_delivery = @model.magazine.current_price_delivery(n_sum) %>
      <% if current_price_delivery > 0 %>
        <tr>
          <td><%= num += 1 %></td>
          <td>Доставка</td>
          <td class="text_center">шт</td>
          <td class="text_right">1</td>
          <td class="text_right"><%= current_price_delivery %></td>
          <td class="text_right"><%= current_price_delivery %></td>
        </tr>
      <% end %>
      <tr>
        <td class="noBorder"></td>
        <td class="noBorder"></td>
        <td class="noBorder"></td>
        <td class="noBorder"></td>
        <td class="noBorder text_right">Итого:</td>
        <td class="text_right"><%= (n_sum + current_price_delivery).round(1) %></td>
      </tr>
    </tbody>
  </table>
  <div style="margin-top: 24px;"> 
    Всего наименований <%= num %>, на сумму <%= (n_sum + current_price_delivery).round(1) %> руб. 
  </div>
  <div>
    <div style="margin-top: 24px;">
      Отпустил
      <span>______________</span>
      <span style="margin-left: 14px; text-decoration: underline;">&nbsp;&nbsp;Менеджер&nbsp;&nbsp;</span>
<!--       <span style="margin-left: 14px; text-decoration: underline;">&nbsp;&nbsp;&nbsp;&nbsp;</span> -->
    </div>
  </div>
</div>
</body>
</html>