<% all_sales = Sale.where(magazine_id: current_user.magazine_id) %>
<% if params[:date].blank? || params[:date] == "day" %>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['bar']});
    google.charts.setOnLoadCallback(drawChart);
    <% arr = ([['День', 'Продажи', 'Прибыль', 'Затраты']].concat all_sales.curr_month_statistic(current_user.magazine_id)).to_json %>
    function drawChart() {
      var data = google.visualization.arrayToDataTable(<%= arr.html_safe %>);

      var options = {
        chart: {
          title: '<%= current_magazine.title %>',
          subtitle: 'продажи, прибыль, расходы за <%= Russian::strftime(Time.now, "%B") %>',
        }
      };

      var chart = new google.charts.Bar(document.getElementById('columnchart_material_month'));

      chart.draw(data, google.charts.Bar.convertOptions(options));
    }
  </script>
  <div id="columnchart_material_month" class="block-material" style="width: 100%; height: 500px;margin-top: 24px;padding: 16px;background-color: white;"></div>
<% end %>
<% if params[:date] == "year" ||  params[:date] == "month" || params[:date] == "last_year" %>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['bar']});
    google.charts.setOnLoadCallback(drawChart);
    <% curr_year =  (params[:date] == "year" || params[:date] == "month") ? all_sales.curr_year_statistic(current_user.magazine_id) : all_sales.curr_year_statistic(current_user.magazine_id, "last_year") %>
    <% arr = ([['Месяц', 'Продажи', 'Прибыль', 'Затраты']].concat curr_year).to_json %>
    function drawChart() {
      var data = google.visualization.arrayToDataTable(<%= arr.html_safe %>);

      var options = {
        chart: {
          title: '<%= current_magazine.title %>',
          subtitle: 'продажи, прибыль за текущий год',
        }
      };

      var chart = new google.charts.Bar(document.getElementById('columnchart_material_year'));

      chart.draw(data, google.charts.Bar.convertOptions(options));
    }
  </script>
  <div id="columnchart_material_year" class="block-material" style="width: 100%; height: 500px;margin-top: 24px;padding: 16px;background-color: white;"></div>
<% end %>